<div class="home">
  <div class="container">
    <div class="title">
    <h1>Unit Converter</h1>
    </div>
    <button (click)="open_distance()">Distance</button>
    <button (click)="open_area()">Area</button>
    <button (click)="open_volume()">Volume</button>
    <button (click)="open_time()">Time</button>
    <button (click)="open_speed()">Speed</button>
    <button (click)="open_weight()">Weight</button>
    <button (click)="open_temmpeture()">Temperature</button>
    <button (click)="open_power()">Power</button>
    <button (click)="open_energy()">Energy</button>
  </div>
</div>