.home{
    padding-top: 80px;
    
}
.title{
    background: linear-gradient(white,rgba(255,255,255,.7));
    grid-column: span 3;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 10px;
   
}
h1 {
    font-size: 50px;
    font-family: 'Times New Roman';
}
.container{
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: minmax(120px,auto) repeat(4,80px);
}

.container > button{
    border: 1px solid white;
    background: rgba(255,255,255,.75);
    width: minmax(auto,auto) ;
    color: black;
    font-family: 'Times New Roman';
    font-size: 18px;
    font-weight: bold;
}



.container button:hover {
    background: rgba(255, 255, 255, .9);
}

@media  screen and (max-width:650px) {
    .container{
        grid-template-columns: repeat(3,130px);

    }
    
}
