<section class="power">
    <mat-dialog-content>
        <button mat-raised-button color="warn" class="close" mat-dialog-close>close</button>
        <h1 mat-dialog-title>Power Converter</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Watt : </mat-label>
            <input matInput value="0" type="number" id="wattTojoulesecond">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Joules/second : </mat-label>
            <input matInput value="0" type="number" id="joulesecondTowatt">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Watt : </mat-label>
            <input matInput value="0" type="number" id="wattTojouleminute" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Joules/minute : </mat-label>
            <input matInput value="0" type="number" id="jouleminuteTowatt" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Watt : </mat-label>
            <input matInput value="0" type="number" id="wattTojoulehour" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Joules/hour : </mat-label>
            <input matInput value="0" type="number" id="joulehourTowatt" >
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="convert">Convert</button>
        <button mat-raised-button color="primary" class="reset">Reset</button>
    </mat-dialog-actions>
</section>
