<section class="energy">
    <form [formGroup]="formgroup">
    <mat-dialog-content>
        <button mat-raised-button color="warn" class="close" mat-dialog-close>close</button>
        <h1 mat-dialog-title>Energy Converter</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Joule : </mat-label>
            <input matInput [value]="jouletocal" type="number" formControlName="jouleTocalories">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Calories : </mat-label>
            <input matInput [value]="caltojoule" type="number" formControlName="caloriesTojoule">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Joule : </mat-label>
            <input matInput [value]="jouletokw" type="number" formControlName="jouleTowatt" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kilowatt/ Hour : </mat-label>
            <input matInput [value]="kwtojoule" type="number" formControlName="wattTojoule" >
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="convert" (click)="convert()">Convert</button>
        <button mat-raised-button color="primary" class="reset" (click)="reset()">Reset</button>
    </mat-dialog-actions>
</form>
</section>