<section class="energy">
    <mat-dialog-content>
        <button mat-raised-button color="warn" class="close" mat-dialog-close>close</button>
        <h1 mat-dialog-title>Volume Converter</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Meter Cube : </mat-label>
            <input matInput value="0" type="number" id="kiloTometer">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Liter : </mat-label>
            <input matInput value="0" type="number" id="meterTokilo">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Millilter : </mat-label>
            <input matInput value="0" type="number" id="kiloTomile" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Centimeter Cube : </mat-label>
            <input matInput value="0" type="number" id="mileTokilo" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Meter Cube : </mat-label>
            <input matInput value="0" type="number" id="meterToinch" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Decimeter Cube : </mat-label>
            <input matInput value="0" type="number" id="inchTometer" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Meter Cube : </mat-label>
            <input matInput value="0" type="number" id="meterTofeet" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Centimeter Cube : </mat-label>
            <input matInput value="0" type="number" id="feetTometer">
        </mat-form-field>
        
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="convert">Convert</button>
        <button mat-raised-button color="primary" class="reset">Reset</button>
    </mat-dialog-actions>
</section>