<section class="speed">
    <mat-dialog-content>
        <button mat-raised-button color="warn" class="close" mat-dialog-close>close</button>
        <h1 mat-dialog-title>Speed Converter</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kilometer/Hour : </mat-label>
            <input matInput value="0" type="number" id="kiloTohour">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Meter/Second : </mat-label>
            <input matInput value="0" type="number" id="hourTokilo">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kilometer/Hour : </mat-label>
            <input matInput value="0" type="number" id="kiloTomile" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mile/Hour : </mat-label>
            <input matInput value="0" type="number" id="mileTohour" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mile/Hour : </mat-label>
            <input matInput value="0" type="number" id="hourTomile" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Meter/Second : </mat-label>
            <input matInput value="0" type="number" id="mileTosecond" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kilometer/Hour : </mat-label>
            <input matInput value="0" type="number" id="kiloTofeet" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Feet/Second : </mat-label>
            <input matInput value="0" type="number" id="feetTosecond">
        </mat-form-field>
        
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="convert">Convert</button>
        <button mat-raised-button color="primary" class="reset">Reset</button>
    </mat-dialog-actions>
</section>
