<section class="temperature">
    <form [formGroup]="formgroup">
    <mat-dialog-content>
        <button mat-raised-button color="warn" class="close" mat-dialog-close>close</button>
        <h1 mat-dialog-title>Temperature Converter</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Celsius : </mat-label>
            <input matInput [value]="celtokel" type="number" formControlName="celTokelvin">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kelvin : </mat-label>
            <input matInput [value]="keltocel" type="number" formControlName="kelvinTocel">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Celsius : </mat-label>
            <input matInput [value]="celtofah" type="number" formControlName="celTofahren" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fahrenheit : </mat-label>
            <input matInput [value]="fahtocel" type="number" formControlName="fahrenTocel" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kelvin : </mat-label>
            <input matInput [value]="keltofah" type="number" formControlName="kelvinTofahren" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fahrenheit : </mat-label>
            <input matInput [value]="fahtokel" type="number" formControlName="fahrenTokelvin" >
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="convert" (click)="convert()">Convert</button>
        <button mat-raised-button color="primary" class="reset" (click)="reset()">Reset</button>
    </mat-dialog-actions>  
</form>  
</section>